<h2><%= @user.name %></h2>

<% if @user.admin == true %>
  <h3> ADMIN </h3>
<% end %>

<p>Height: <%= @user.height %></p>

<p>Mood: <%= @user.mood %></p>
<p>Tickets: <%= @user.tickets %></p>

<%= link_to "See attractions", attractions_path %>
